<div id='header'>
<div id = 'register1'>Register</div>
<div id = 'login1'>Login</div>
</div>

<div class='background'>
  <div id='back1'></div>
  <div id='back2'></div>
  <div id='back3'></div>
  <div id='back4'></div>
  <div id='back5'></div>
  <div id='back6'></div>
  <div id='back7'></div>
  <div id='arcanine'></div>

</div>

<div class='userInput'>
<form action="/insert" method="post" id='register'>
  <div id='name1'>
    <label for="name">Name:</label>
    <input type="text" name="name" class = 'input'>
  </div>
  <div id='email1'>
    <label for="email">E-mail:</label>
    <input type="email" name="email" class = 'input'>
  </div>
  <div id='phone1'>
    <label for="telephone">Phone-Number:</label>
    <input type="text" name="telephone" class = 'input'>
  </div>
  <div id='password1'>
    <label for="password">Password:</label>
    <input type="password" name="password" class = 'input'>
  </div>
  <input type="submit" value="Submit" id= 'button1'>
</form>



<form action="/account" method="post" id= 'login'>
  <div>
    <label for="email">Email:</label>
    <input type="text"  name="email" class = 'input'>
  </div>
  <div>
    <label for="passwordEnter">Password:</label>
    <input type="password" name="passwordEnter" class = 'input'>
  </div>
  <input type="submit" value="Submit" id = 'button2'>
</form>

<div id="data">
  <p class="info">{{details}}</p>
  <p class="info">{{name}}</p>
  <p class="info">{{email}}</p>
  <p class="info">{{telephone}}</p>
  <p class="info">{{password}}</p>
  {{!-- <p class="info">{{hashkey}}</p> --}}
  <p class="info">{{output}}</p>
</div>

</div>


